In [1]:
%reload_ext autoreload
%autoreload 2

import openpyxl
import pandas as pd
import numpy as np

from synthasizer.table import Table, Cell
from synthasizer.conditions import *

In [2]:
before = openpyxl.load_workbook("../data/icecream.xlsx")
before = Table.from_openpyxl(before['icecream']['A1':'G10'])
before.df

           0        1     2     3       4      5       6
0       Type  Country  June  July  August  Total  Profit
1     Banana       BE   170   690     520   1380     YES
2                  DE   610   640     320   1570      NO
3                  DE   250   650     630   1530     YES
4  Chocolate       BE   560   320     140   1020     YES
5                  FR   430   350     300   1080     YES
6
7                  NL   210   280     270    760      NO
8  Speculaas       BE   300   270     290    860      NO
9    Vanilla       BE   610   190     670   1470     YES

In [15]:
StyleCondition.generate(before[1])

[StyleCondition('bold', True), StyleCondition('bold', False)]

In [16]:
EmptyCondition.generate(before[0])

[EmptyCondition()]