# transformations

Test of all transformations.

In [1]:
%reload_ext autoreload
%autoreload 2

import openpyxl
import pandas as pd
import numpy as np

from synthasizer.table import Table, Cell, detect
from synthasizer.transformations import *
from synthasizer.conditions import *

In [2]:
icecream = detect(
    openpyxl.load_workbook("../data/icecream.xlsx")['icecream']
)[0]
icecream.df

           0        1     2     3       4      5       6
0       Type  Country  June  July  August  Total  Profit
1     Banana       BE   170   690     520   1380     YES
2                  DE   610   640     320   1570      NO
3                  DE   250   650     630   1530     YES
4  Chocolate       BE   560   320     140   1020     YES
5                  FR   430   350     300   1080     YES
6
7                  NL   210   280     270    760      NO
8  Speculaas       BE   300   270     290    860      NO
9    Vanilla       BE   610   190     670   1470     YES

In [132]:
icecream_color = copy(icecream)
icecream_color.color(0, 1)
icecream_color.color(1, 1)
icecream_color.color(2, 1)
icecream_color.color(2, 0)
icecream_color.color(6, 1)
display(icecream_color.df)
display(icecream_color.color_df)

           0        1     2     3       4      5       6
0       Type  Country  June  July  August  Total  Profit
1     Banana       BE   170   690     520   1380     YES
2                  DE   610   640     320   1570      NO
3                  DE   250   650     630   1530     YES
4  Chocolate       BE   560   320     140   1020     YES
5                  FR   430   350     300   1080     YES
6
7                  NL   210   280     270    760      NO
8  Speculaas       BE   300   270     290    860      NO
9    Vanilla       BE   610   190     670   1470     YES

   0  1  2  3  4  5  6
0  0  0  4  0  0  0  0
1  1  2  3  0  0  0  5
2  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0

In [3]:
## Delete

In [21]:
Delete.arguments(icecream)

[(0, EmptyCondition()),
 (1, EmptyCondition()),
 (1, StyleCondition('bold', True)),
 (1, StyleCondition('bold', False)),
 (2, EmptyCondition()),
 (2, StyleCondition('bold', True)),
 (2, StyleCondition('bold', False)),
 (3, EmptyCondition()),
 (3, StyleCondition('bold', True)),
 (3, StyleCondition('bold', False)),
 (4, EmptyCondition()),
 (4, StyleCondition('bold', True)),
 (4, StyleCondition('bold', False)),
 (5, EmptyCondition()),
 (5, StyleCondition('bold', True)),
 (5, StyleCondition('bold', False)),
 (6, EmptyCondition()),
 (6, StyleCondition('bold', True)),
 (6, StyleCondition('bold', False))]

In [28]:
Delete(1, StyleCondition('bold', True))(icecream)

           0   1    2    3    4     5    6
0     Banana  BE  170  690  520  1380  YES
1             DE  610  640  320  1570   NO
2             DE  250  650  630  1530  YES
3  Chocolate  BE  560  320  140  1020  YES
4             FR  430  350  300  1080  YES
5
6             NL  210  280  270   760   NO
7  Speculaas  BE  300  270  290   860   NO
8    Vanilla  BE  610  190  670  1470  YES

## Divide

In [65]:
Divide.arguments(icecream)

[(6, 'bold'),
 (1, 'bold'),
 (2, 'dtype'),
 (3, 'dtype'),
 (5, 'dtype'),
 (4, 'bold'),
 (0, 'bold'),
 (2, 'bold'),
 (3, 'bold'),
 (4, 'dtype'),
 (5, 'bold')]

In [66]:
divide = Divide(5, 'dtype')
divide(sales)

           0        1     2     3       4     5      5       6
0       Type  Country  June  July  August        Total  Profit
1     Banana       BE   170   690     520  1380            YES
2                  DE   610   640     320  1570             NO
3                  DE   250   650     630  1530            YES
4  Chocolate       BE   560   320     140  1020            YES
5                  FR   430   350     300  1080            YES
6
7                  NL   210   280     270   760             NO
8  Speculaas       BE   300   270     290   860             NO
9    Vanilla       BE   610   190     670  1470            YES

## Fill

back- and forward filling of columns.

In [19]:
Fill.arguments(icecream)

[(0,)]

In [4]:
ForwardFill(0)(sales)

           0        1     2     3       4      5       6
0       Type  Country  June  July  August  Total  Profit
1     Banana       BE   170   690     520   1380     YES
2     Banana       DE   610   640     320   1570      NO
3     Banana       DE   250   650     630   1530     YES
4  Chocolate       BE   560   320     140   1020     YES
5  Chocolate       FR   430   350     300   1080     YES
6  Chocolate     None  None  None    None   None    None
7  Chocolate       NL   210   280     270    760      NO
8  Speculaas       BE   300   270     290    860      NO
9    Vanilla       BE   610   190     670   1470     YES

## DivideAndFilll

In [100]:
DivideAndFill(5, 'dtype')(icecream)

           0        1     2     3       4     5      5       6
0       Type  Country  June  July  August        Total  Profit
1     Banana       BE   170   690     520  1380  Total     YES
2                  DE   610   640     320  1570  Total      NO
3                  DE   250   650     630  1530  Total     YES
4  Chocolate       BE   560   320     140  1020  Total     YES
5                  FR   430   350     300  1080  Total     YES
6                                          1080  Total
7                  NL   210   280     270   760  Total      NO
8  Speculaas       BE   300   270     290   860  Total      NO
9    Vanilla       BE   610   190     670  1470  Total     YES

## Header

In [ ]:
mock = Table(pd.DataFrame())

In [108]:
Header.arguments_dtype(icecream)

[(0,)]

In [107]:
Header.arguments_style(icecream_color)

[(1,)]

In [109]:
Header.arguments(sales)

[(0,)]

In [123]:
Header(1)(sales).df

0       Type Country June July August Total Profit
2                 DE  610  640    320  1570     NO
3                 DE  250  650    630  1530    YES
4  Chocolate      BE  560  320    140  1020    YES
5                 FR  430  350    300  1080    YES
6
7                 NL  210  280    270   760     NO
8  Speculaas      BE  300  270    290   860     NO
9    Vanilla      BE  610  190    670  1470    YES

## Fold

In [76]:
Fold.arguments(icecream)

           0        1     2     3       4      5       6
0       Type  Country  June  July  August  Total  Profit
1     Banana       BE   170   690     520   1380     YES
2                  DE   610   640     320   1570      NO
3                  DE   250   650     630   1530     YES
4  Chocolate       BE   560   320     140   1020     YES
5                  FR   430   350     300   1080     YES
6
7                  NL   210   280     270    760      NO
8  Speculaas       BE   300   270     290    860      NO
9    Vanilla       BE   610   190     670   1470     YES
   0  1  2  3  4  5  6
0  0  0  4  0  0  0  0
1  1  2  3  0  0  0  5
2  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0
[]

[]

In [71]:
icecream.color_df

   0  1  2  3  4  5  6
0  0  0  4  0  0  0  0
1  1  2  3  0  0  0  5
2  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0

In [68]:
Fold.arguments(icecream_color)

[]

[]

In [80]:
folded = Fold(0, 1)(sales)
folded

       2     3       4      5       6  variable      value
0   June  July  August  Total  Profit         0       Type
1    170   690     520   1380     YES         0     Banana
2    610   640     320   1570      NO         0
3    250   650     630   1530     YES         0
4    560   320     140   1020     YES         0  Chocolate
5    430   350     300   1080     YES         0
6                                             0
7    210   280     270    760      NO         0
8    300   270     290    860      NO         0  Speculaas
9    610   190     670   1470     YES         0    Vanilla
10  June  July  August  Total  Profit         1    Country
11   170   690     520   1380     YES         1         BE
12   610   640     320   1570      NO         1         DE
13   250   650     630   1530     YES         1         DE
14   560   320     140   1020     YES         1         BE
15   430   350     300   1080     YES         1         FR
16                                            1
17   210   280     270    760      NO         1         NL
18   300   270     290    860      NO         1         BE
19   610   190     670   1470     YES         1         BE

In [42]:
for n in folded.df:
    for c in folded.df[n]:
        print(repr(c))

Cell('June')
Cell(170)
Cell(610)
Cell(250)
Cell(560)
Cell(430)
Cell(None)
Cell(210)
Cell(300)
Cell(610)
Cell('June')
Cell(170)
Cell(610)
Cell(250)
Cell(560)
Cell(430)
Cell(None)
Cell(210)
Cell(300)
Cell(610)
Cell('July')
Cell(690)
Cell(640)
Cell(650)
Cell(320)
Cell(350)
Cell(None)
Cell(280)
Cell(270)
Cell(190)
Cell('July')
Cell(690)
Cell(640)
Cell(650)
Cell(320)
Cell(350)
Cell(None)
Cell(280)
Cell(270)
Cell(190)
Cell('August')
Cell(520)
Cell(320)
Cell(630)
Cell(140)
Cell(300)
Cell(None)
Cell(270)
Cell(290)
Cell(670)
Cell('August')
Cell(520)
Cell(320)
Cell(630)
Cell(140)
Cell(300)
Cell(None)
Cell(270)
Cell(290)
Cell(670)
Cell('Total')
Cell(1380)
Cell(1570)
Cell(1530)
Cell(1020)
Cell(1080)
Cell(None)
Cell(760)
Cell(860)
Cell(1470)
Cell('Total')
Cell(1380)
Cell(1570)
Cell(1530)
Cell(1020)
Cell(1080)
Cell(None)
Cell(760)
Cell(860)
Cell(1470)
Cell('Profit')
Cell('YES')
Cell('NO')
Cell('YES')
Cell('YES')
Cell('YES')
Cell(None)
Cell('NO')
Cell('NO')
Cell('YES')
Cell('Profit')
Cell('YES')
Cell('NO')
Cell('YES')
Cell('YES')
Cell('YES')
Cell(None)
Cell('NO')
Cell('NO')
Cell('YES')
0
0
0
0
0
0
0
0
0
0
1
1
1
1
1
1
1
1
1
1
Cell('Type')
Cell('Banana')
Cell(None)
Cell(None)
Cell('Chocolate')
Cell(None)
Cell(None)
Cell(None)
Cell('Speculaas')
Cell('Vanilla')
Cell('Country')
Cell('BE')
Cell('DE')
Cell('DE')
Cell('BE')
Cell('FR')
Cell(None)
Cell('NL')
Cell('BE')
Cell('BE')

In [171]:
Header(0)(sales).column_types

['string', 'string', 'integer', 'integer', 'integer', 'integer', 'string']