# transformations

Test of all transformations.

In [1]:
%reload_ext autoreload
%autoreload 2

import openpyxl
import pandas as pd
import numpy as np

from synthasizer.table import Table, Cell
from synthasizer.transformations import *
from synthasizer.conditions import *

In [2]:
sales = openpyxl.load_workbook("../data/icecream.xlsx")
sales = Table.from_openpyxl(sales['icecream']['A1':'G10'])
sales.color(0, 1)
sales.color(1, 1)
sales.color(2, 1)
sales.color(2, 0)
sales.color(6, 1)
sales.df

           0        1     2     3       4      5       6
0       Type  Country  June  July  August  Total  Profit
1     Banana       BE   170   690     520   1380     YES
2       None       DE   610   640     320   1570      NO
3       None       DE   250   650     630   1530     YES
4  Chocolate       BE   560   320     140   1020     YES
5       None       FR   430   350     300   1080     YES
6       None     None  None  None    None   None    None
7       None       NL   210   280     270    760      NO
8  Speculaas       BE   300   270     290    860      NO
9    Vanilla       BE   610   190     670   1470     YES

In [25]:
sales.df.iloc[:,0]

0         Type
1       Banana
2         None
3         None
4    Chocolate
5         None
6         None
7         None
8    Speculaas
9      Vanilla
Name: 0, dtype: object

## Delete

In [19]:
Delete.arguments(sales)

[(0, <synthasizer.conditions.EmptyCondition at 0x107243c40>),
 (1, <synthasizer.conditions.EmptyCondition at 0x112d0b7c0>),
 (2, <synthasizer.conditions.EmptyCondition at 0x112dd6f10>),
 (3, <synthasizer.conditions.EmptyCondition at 0x112dd62e0>),
 (4, <synthasizer.conditions.EmptyCondition at 0x112dd6e80>),
 (5, <synthasizer.conditions.EmptyCondition at 0x112dd6760>),
 (6, <synthasizer.conditions.EmptyCondition at 0x112dd6370>)]

In [21]:
Delete(1, EmptyCondition())(sales)

           0        1     2     3       4      5       6
0       Type  Country  June  July  August  Total  Profit
1     Banana       BE   170   690     520   1380     YES
2       None       DE   610   640     320   1570      NO
3       None       DE   250   650     630   1530     YES
4  Chocolate       BE   560   320     140   1020     YES
5       None       FR   430   350     300   1080     YES
7       None       NL   210   280     270    760      NO
8  Speculaas       BE   300   270     290    860      NO
9    Vanilla       BE   610   190     670   1470     YES

## Divide

In [26]:
Divide.arguments(sales)

[(0, 'bold'),
 (3, 'dtype'),
 (2, 'bold'),
 (5, 'dtype'),
 (3, 'bold'),
 (5, 'bold'),
 (6, 'bold'),
 (1, 'bold'),
 (4, 'dtype'),
 (4, 'bold'),
 (2, 'dtype')]

In [27]:
divide = Divide(5, 'dtype')
divide(sales)

           0        1     2     3       4     5      5       6
0       Type  Country  June  July  August  None  Total  Profit
1     Banana       BE   170   690     520  1380  Total     YES
2       None       DE   610   640     320  1570  Total      NO
3       None       DE   250   650     630  1530  Total     YES
4  Chocolate       BE   560   320     140  1020  Total     YES
5       None       FR   430   350     300  1080  Total     YES
6       None     None  None  None    None  None   None    None
7       None       NL   210   280     270   760  Total      NO
8  Speculaas       BE   300   270     290   860  Total      NO
9    Vanilla       BE   610   190     670  1470  Total     YES

## Fill

back- and forward filling of columns.

In [3]:
ForwardFill.arguments(sales)

[(0,), (1,), (2,), (3,), (4,), (5,), (6,)]

In [4]:
ForwardFill(0)(sales)

           0        1     2     3       4      5       6
0       Type  Country  June  July  August  Total  Profit
1     Banana       BE   170   690     520   1380     YES
2     Banana       DE   610   640     320   1570      NO
3     Banana       DE   250   650     630   1530     YES
4  Chocolate       BE   560   320     140   1020     YES
5  Chocolate       FR   430   350     300   1080     YES
6  Chocolate     None  None  None    None   None    None
7  Chocolate       NL   210   280     270    760      NO
8  Speculaas       BE   300   270     290    860      NO
9    Vanilla       BE   610   190     670   1470     YES

In [69]:
pd.isna(None)

True

## Header

In [40]:
Header.arguments_dtype(sales)

[(1,)]

In [51]:
Header.arguments_style(sales)

[(1,)]

In [52]:
Header.arguments(sales)

[(1,)]

In [148]:
Header(0)(sales).df

0       Type Country  June  July August Total Profit
1     Banana      BE   170   690    520  1380    YES
2       None      DE   610   640    320  1570     NO
3       None      DE   250   650    630  1530    YES
4  Chocolate      BE   560   320    140  1020    YES
5       None      FR   430   350    300  1080    YES
6       None    None  None  None   None  None   None
7       None      NL   210   280    270   760     NO
8  Speculaas      BE   300   270    290   860     NO
9    Vanilla      BE   610   190    670  1470    YES

## Fold

In [13]:
Fold.arguments(Header(0)(sales))

[(2, 3), (2, 4), (2, 5)]

In [14]:
Fold.arguments(sales)

[]

In [17]:
fold = Fold(2, 5)
fold(Header(0)(sales))

   Profit       Type Country       0 value
0     YES     Banana      BE    June   170
1      NO       None      DE    June   610
2     YES       None      DE    June   250
3     YES  Chocolate      BE    June   560
4     YES       None      FR    June   430
5    None       None    None    June  None
6      NO       None      NL    June   210
7      NO  Speculaas      BE    June   300
8     YES    Vanilla      BE    June   610
9     YES     Banana      BE    July   690
10     NO       None      DE    July   640
11    YES       None      DE    July   650
12    YES  Chocolate      BE    July   320
13    YES       None      FR    July   350
14   None       None    None    July  None
15     NO       None      NL    July   280
16     NO  Speculaas      BE    July   270
17    YES    Vanilla      BE    July   190
18    YES     Banana      BE  August   520
19     NO       None      DE  August   320
20    YES       None      DE  August   630
21    YES  Chocolate      BE  August   140
22    YES       None      FR  August   300
23   None       None    None  August  None
24     NO       None      NL  August   270
25     NO  Speculaas      BE  August   290
26    YES    Vanilla      BE  August   670
27    YES     Banana      BE   Total  1380
28     NO       None      DE   Total  1570
29    YES       None      DE   Total  1530
30    YES  Chocolate      BE   Total  1020
31    YES       None      FR   Total  1080
32   None       None    None   Total  None
33     NO       None      NL   Total   760
34     NO  Speculaas      BE   Total   860
35    YES    Vanilla      BE   Total  1470

In [171]:
Header(0)(sales).column_types

['string', 'string', 'integer', 'integer', 'integer', 'integer', 'string']