# transformations

Test of all transformations.

In [5]:
%reload_ext autoreload
%autoreload 2

import openpyxl
import pandas as pd
import numpy as np

from synthasizer.table import Table, Cell, detect
from synthasizer.transformations import *
from synthasizer.conditions import *

In [6]:
icecream = detect(openpyxl.load_workbook("../data/icecream.xlsx")["icecream"])[0]
icecream.df

           0        1     2     3       4      5       6
0       Type  Country  June  July  August  Total  Profit
1     Banana       BE   170   690     520   1380     YES
2                  DE   610   640     320   1570      NO
3                  DE   250   650     630   1530     YES
4  Chocolate       BE   560   320     140   1020     YES
5                  FR   430   350     300   1080     YES
6
7                  NL   210   280     270    760      NO
8  Speculaas       BE   300   270     290    860      NO
9    Vanilla       BE   610   190     670   1470     YES

In [12]:
icecream_color = copy(icecream)
icecream_color.color(0, 1)
icecream_color.color(1, 1)
icecream_color.color(2, 1)
icecream_color.color(2, 0)
icecream_color.color(6, 1)
display(icecream_color.color_df)

   0  0  0  0  0  0  0
0  0  0  4  0  0  0  0
1  1  2  3  0  0  0  5
2  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0

In [14]:
nurse = detect(openpyxl.load_workbook("../data/nurse.xlsx")["Sheet1"])[0]
nurse.df

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,,,M,A,N,,M,A,N,,...,A,N,,M,A,N,,M,A,N
1,,Mon,,,,Tue,,,,Wed,...,,,Sat,,,,Sun,,,
2,Emma,,1,0,0,,1,0,0,,...,1,0,,0,0,1,,0,0,0
3,Lucas,,0,1,0,,0,1,0,,...,0,0,,1,0,0,,0,1,0
4,Noah,,0,0,1,,0,0,1,,...,0,0,,0,0,0,,1,0,0
5,Alice,,0,0,0,,1,0,0,,...,0,0,,0,0,0,,1,0,0
6,Jules,,0,0,0,,0,1,0,,...,0,1,,0,0,0,,0,0,0
7,Jonas,,1,0,0,,0,0,1,,...,1,0,,0,0,0,,0,0,0
8,Gabriel,,0,1,0,,0,1,0,,...,0,0,,1,0,0,,0,0,0
9,Ruben,,0,0,1,,0,0,1,,...,0,0,,0,0,1,,0,0,0
10,Ella,,0,0,0,,0,0,0,,...,0,0,,0,1,0,,0,0,0
11,Stan,,1,0,0,,1,0,0,,...,0,0,,1,0,0,,1,0,0
12,Nora,,0,0,0,,1,0,0,,...,0,1,,0,0,0,,0,1,0
13,Anna,,0,1,0,,0,0,0,,...,0,0,,0,1,0,,0,0,1

In [4]:
Delete.arguments(icecream)

[(0, EmptyCondition()),
 (1, EmptyCondition()),
 (1, StyleCondition('bold', True)),
 (1, StyleCondition('bold', False)),
 (2, EmptyCondition()),
 (2, StyleCondition('bold', True)),
 (2, StyleCondition('bold', False)),
 (3, EmptyCondition()),
 (3, StyleCondition('bold', True)),
 (3, StyleCondition('bold', False)),
 (4, EmptyCondition()),
 (4, StyleCondition('bold', True)),
 (4, StyleCondition('bold', False)),
 (5, EmptyCondition()),
 (5, StyleCondition('bold', True)),
 (5, StyleCondition('bold', False)),
 (6, EmptyCondition()),
 (6, StyleCondition('bold', True)),
 (6, StyleCondition('bold', False))]

In [28]:
Delete(1, StyleCondition('bold', True))(icecream)

           0   1    2    3    4     5    6
0     Banana  BE  170  690  520  1380  YES
1             DE  610  640  320  1570   NO
2             DE  250  650  630  1530  YES
3  Chocolate  BE  560  320  140  1020  YES
4             FR  430  350  300  1080  YES
5
6             NL  210  280  270   760   NO
7  Speculaas  BE  300  270  290   860   NO
8    Vanilla  BE  610  190  670  1470  YES

## Divide

In [1]:
Divide.arguments(icecream)

NameError: name 'Divide' is not defined

In [66]:
divide = Divide(5, 'dtype')
divide(sales)

           0        1     2     3       4     5      5       6
0       Type  Country  June  July  August        Total  Profit
1     Banana       BE   170   690     520  1380            YES
2                  DE   610   640     320  1570             NO
3                  DE   250   650     630  1530            YES
4  Chocolate       BE   560   320     140  1020            YES
5                  FR   430   350     300  1080            YES
6
7                  NL   210   280     270   760             NO
8  Speculaas       BE   300   270     290   860             NO
9    Vanilla       BE   610   190     670  1470            YES

In [116]:
divide = Divide(5, 'bold')
divide(icecream)

           0        1     2     3       4     5      5       6
0       Type  Country  June  July  August        Total  Profit
1     Banana       BE   170   690     520  1380            YES
2                  DE   610   640     320  1570             NO
3                  DE   250   650     630  1530            YES
4  Chocolate       BE   560   320     140  1020            YES
5                  FR   430   350     300  1080            YES
6
7                  NL   210   280     270   760             NO
8  Speculaas       BE   300   270     290   860             NO
9    Vanilla       BE   610   190     670  1470            YES

## Fill

back- and forward filling of columns.

In [19]:
Fill.arguments(icecream)

[(0,)]

In [118]:
Fill(0)(icecream)

           0        1     2     3       4      5       6
0       Type  Country  June  July  August  Total  Profit
1     Banana       BE   170   690     520   1380     YES
2     Banana       DE   610   640     320   1570      NO
3     Banana       DE   250   650     630   1530     YES
4  Chocolate       BE   560   320     140   1020     YES
5  Chocolate       FR   430   350     300   1080     YES
6  Chocolate
7  Chocolate       NL   210   280     270    760      NO
8  Speculaas       BE   300   270     290    860      NO
9    Vanilla       BE   610   190     670   1470     YES

In [15]:
Fill(1)(nurse)

         0    1  2  3  4    5  6  7  8    9   ... 19 20   21 22 23 24   25 26  \
0            NaN  M  A  N       M  A  N       ...  A  N       M  A  N       M
1            Mon           Tue           Wed  ...        Sat           Sun
2      Emma  Mon  1  0  0       1  0  0       ...  1  0       0  0  1       0
3     Lucas  Mon  0  1  0       0  1  0       ...  0  0       1  0  0       0
4      Noah  Mon  0  0  1       0  0  1       ...  0  0       0  0  0       1
5     Alice  Mon  0  0  0       1  0  0       ...  0  0       0  0  0       1
6     Jules  Mon  0  0  0       0  1  0       ...  0  1       0  0  0       0
7     Jonas  Mon  1  0  0       0  0  1       ...  1  0       0  0  0       0
8   Gabriel  Mon  0  1  0       0  1  0       ...  0  0       1  0  0       0
9     Ruben  Mon  0  0  1       0  0  1       ...  0  0       0  0  1       0
10     Ella  Mon  0  0  0       0  0  0       ...  0  0       0  1  0       0
11     Stan  Mon  1  0  0       1  0  0       ...  0  0       1  0  0       1
12     Nora  Mon  0  0  0       1  0  0       ...  0  1       0  0  0       0
13     Anna  Mon  0  1  0       0  0  0       ...  0  0       0  1  0       0

   27 28
0   A  N
1
2   0  0
3   1  0
4   0  0
5   0  0
6   0  0
7   0  0
8   0  0
9   0  0
10  0  0
11  0  0
12  1  0
13  0  1

[14 rows x 29 columns]

## DivideAndFilll

In [119]:
DivideAndFill(5, 'dtype')(icecream)

           0        1     2     3       4      5     5       6
0       Type  Country  June  July  August  Total        Profit
1     Banana       BE   170   690     520  Total  1380     YES
2                  DE   610   640     320  Total  1570      NO
3                  DE   250   650     630  Total  1530     YES
4  Chocolate       BE   560   320     140  Total  1020     YES
5                  FR   430   350     300  Total  1080     YES
6                                          Total  1080
7                  NL   210   280     270  Total   760      NO
8  Speculaas       BE   300   270     290  Total   860      NO
9    Vanilla       BE   610   190     670  Total  1470     YES

## Header

In [ ]:
mock = Table(pd.DataFrame())

In [108]:
Header.arguments_dtype(icecream)

[(0,)]

In [107]:
Header.arguments_style(icecream_color)

[(1,)]

In [121]:
icecream.df

           0        1     2     3       4      5       6
0       Type  Country  June  July  August  Total  Profit
1     Banana       BE   170   690     520   1380     YES
2                  DE   610   640     320   1570      NO
3                  DE   250   650     630   1530     YES
4  Chocolate       BE   560   320     140   1020     YES
5                  FR   430   350     300   1080     YES
6
7                  NL   210   280     270    760      NO
8  Speculaas       BE   300   270     290    860      NO
9    Vanilla       BE   610   190     670   1470     YES

In [122]:
Header(2)(icecream).df

        Type Country June July August Total Profit
      Banana      BE  170  690    520  1380    YES
0                 DE  610  640    320  1570     NO
1                 DE  250  650    630  1530    YES
2  Chocolate      BE  560  320    140  1020    YES
3                 FR  430  350    300  1080    YES
4
5                 NL  210  280    270   760     NO
6  Speculaas      BE  300  270    290   860     NO
7    Vanilla      BE  610  190    670  1470    YES

## Fold

In [10]:
Delete(6, EmptyCondition())(Fill(0)(Header(1)(icecream_color))).color_df

   0  0  4  0  0  0  0
0  1  2  3  0  0  0  5
1  1  0  0  0  0  0  0
2  1  0  0  0  0  0  0
3  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0

In [11]:
Fold.arguments(Delete(6, EmptyCondition())(Fill(0)(Header(1)(icecream_color))))

[(2, 3), (2, 4), (2, 5)]

In [71]:
icecream.color_df

   0  1  2  3  4  5  6
0  0  0  4  0  0  0  0
1  1  2  3  0  0  0  5
2  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0

In [68]:
Fold.arguments(icecream_color)

[]

[]

In [124]:
icecream

           0        1     2     3       4      5       6
0       Type  Country  June  July  August  Total  Profit
1     Banana       BE   170   690     520   1380     YES
2                  DE   610   640     320   1570      NO
3                  DE   250   650     630   1530     YES
4  Chocolate       BE   560   320     140   1020     YES
5                  FR   430   350     300   1080     YES
6
7                  NL   210   280     270    760      NO
8  Speculaas       BE   300   270     290    860      NO
9    Vanilla       BE   610   190     670   1470     YES

In [125]:
folded = Fold(2, 5)(Header(1)(icecream))
folded

         Type Country Profit variable value
0      Banana      BE    YES     June   170
1                  DE     NO     June   610
2                  DE    YES     June   250
3   Chocolate      BE    YES     June   560
4                  FR    YES     June   430
5                                June
6                  NL     NO     June   210
7   Speculaas      BE     NO     June   300
8     Vanilla      BE    YES     June   610
9      Banana      BE    YES     July   690
10                 DE     NO     July   640
11                 DE    YES     July   650
12  Chocolate      BE    YES     July   320
13                 FR    YES     July   350
14                               July
15                 NL     NO     July   280
16  Speculaas      BE     NO     July   270
17    Vanilla      BE    YES     July   190
18     Banana      BE    YES   August   520
19                 DE     NO   August   320
20                 DE    YES   August   630
21  Chocolate      BE    YES   August   140
22                 FR    YES   August   300
23                             August
24                 NL     NO   August   270
25  Speculaas      BE     NO   August   290
26    Vanilla      BE    YES   August   670
27     Banana      BE    YES    Total  1380
28                 DE     NO    Total  1570
29                 DE    YES    Total  1530
30  Chocolate      BE    YES    Total  1020
31                 FR    YES    Total  1080
32                              Total
33                 NL     NO    Total   760
34  Speculaas      BE     NO    Total   860
35    Vanilla      BE    YES    Total  1470

In [171]:
Header(0)(sales).column_types

['string', 'string', 'integer', 'integer', 'integer', 'integer', 'string']

## Stack

In [126]:
nurse_raw = detect(openpyxl.load_workbook("../data/nurse.xlsx")["Sheet1"])[0]
nurse = Header(1)(nurse_raw)
nurse.df

,,Day,M,A,N,Day,M,A,N,Day,...,A,N,Day,M,A,N,Day,M,A,N
0,,Mon,,,,Tue,,,,Wed,...,,,Sat,,,,Sun,,,
1,Emma,,1,0,0,,1,0,0,,...,1,0,,0,0,1,,0,0,0
2,Lucas,,0,1,0,,0,1,0,,...,0,0,,1,0,0,,0,1,0
3,Noah,,0,0,1,,0,0,1,,...,0,0,,0,0,0,,1,0,0
4,Alice,,0,0,0,,1,0,0,,...,0,0,,0,0,0,,1,0,0
5,Jules,,0,0,0,,0,1,0,,...,0,1,,0,0,0,,0,0,0
6,Jonas,,1,0,0,,0,0,1,,...,1,0,,0,0,0,,0,0,0
7,Gabriel,,0,1,0,,0,1,0,,...,0,0,,1,0,0,,0,0,0
8,Ruben,,0,0,1,,0,0,1,,...,0,0,,0,0,1,,0,0,0
9,Ella,,0,0,0,,0,0,0,,...,0,0,,0,1,0,,0,0,0
10,Stan,,1,0,0,,1,0,0,,...,0,0,,1,0,0,,1,0,0
11,Nora,,0,0,0,,1,0,0,,...,0,1,,0,0,0,,0,1,0
12,Anna,,0,1,0,,0,0,0,,...,0,0,,0,1,0,,0,0,1

In [129]:
display(Stack.arguments(Header(1)(nurse_raw)))
display(Stack.arguments(Header(2)(nurse_raw)))

[(1, 29, 4)]

[]

In [130]:
Stack(1, 29, 4)(Header(1)(nurse_raw)).df

0   Day  M  A  N
0   Mon
1        1  0  0
2        0  1  0
3        0  0  1
4        0  0  0
..  ... .. .. ..
86       0  0  0
87       0  0  0
88       1  0  0
89       0  1  0
90       0  0  1

[91 rows x 4 columns]

In [99]:
nurse_raw.df

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,,Day,M,A,N,Day,M,A,N,Day,...,A,N,Day,M,A,N,Day,M,A,N
1,,Mon,,,,Tue,,,,Wed,...,,,Sat,,,,Sun,,,
2,Emma,,1,0,0,,1,0,0,,...,1,0,,0,0,1,,0,0,0
3,Lucas,,0,1,0,,0,1,0,,...,0,0,,1,0,0,,0,1,0
4,Noah,,0,0,1,,0,0,1,,...,0,0,,0,0,0,,1,0,0
5,Alice,,0,0,0,,1,0,0,,...,0,0,,0,0,0,,1,0,0
6,Jules,,0,0,0,,0,1,0,,...,0,1,,0,0,0,,0,0,0
7,Jonas,,1,0,0,,0,0,1,,...,1,0,,0,0,0,,0,0,0
8,Gabriel,,0,1,0,,0,1,0,,...,0,0,,1,0,0,,0,0,0
9,Ruben,,0,0,1,,0,0,1,,...,0,0,,0,0,1,,0,0,0
10,Ella,,0,0,0,,0,0,0,,...,0,0,,0,1,0,,0,0,0
11,Stan,,1,0,0,,1,0,0,,...,0,0,,1,0,0,,1,0,0
12,Nora,,0,0,0,,1,0,0,,...,0,1,,0,0,0,,0,1,0
13,Anna,,0,1,0,,0,0,0,,...,0,0,,0,1,0,,0,0,1