In [1]:
%reload_ext autoreload
%autoreload 2

import pandas as pd
import openpyxl

from synthasizer.table import Cell, Table, detect, detect_ranges
from synthasizer.wrangle import Wrangler, Language

In [123]:
icecream = detect(
    openpyxl.load_workbook("../data/icecream.xlsx")['icecream']
)[0]
# nba = openpyxl.load_workbook("../data/nba.xlsx")
# beer = openpyxl.load_workbook("../data/beers.xlsx")
# deeltijds = openpyxl.load_workbook("../data/deeltijdswerk.xlsx")
# dxc10 = openpyxl.load_workbook("../data/dxc10.xlsx")

In [124]:
from synthasizer.transformations import Delete, Divide, Header, Fill, Fold
from synthasizer.heuristics import ValueColumnHeuristic, AggregatedHeuristic, WeightedHeuristic, EmptyColumnHeuristic, ColorRowHeuristic

# pick a set of transformations
language = Language([
    Delete,
    Divide,
    Header,
    Fill,
    Fold
])

# initialise heuristic
heuristic = WeightedHeuristic(
    [AggregatedHeuristic(EmptyColumnHeuristic()),
     AggregatedHeuristic(ValueColumnHeuristic()),
     ColorRowHeuristic()],
)

# initialise wrangler
wrangler = Wrangler(language,
                    heuristic)

In [125]:
wrangler.learn(icecream)

[State(score=1.0, program=[Header(1), Delete(6, EmptyCondition), Fill(0)], table=0       Type Country June July August Total Profit
 0     Banana      BE  170  690    520  1380    YES
 1     Banana      DE  610  640    320  1570     NO
 2     Banana      DE  250  650    630  1530    YES
 3  Chocolate      BE  560  320    140  1020    YES
 4  Chocolate      FR  430  350    300  1080    YES
 5  Chocolate      NL  210  280    270   760     NO
 6  Speculaas      BE  300  270    290   860     NO
 7    Vanilla      BE  610  190    670  1470    YES)]

In [127]:
icecream.color(2, 1)
icecream.color(2, 0)
icecream.color_df

   0  0  0  0  0  0  0
0  0  0  2  0  0  0  0
1  0  0  1  0  0  0  0
2  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0

In [129]:
wrangler.learn(icecream)

c:\users\gustv\projects\synthasizer\synthasizer\wrangle.py:236: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  candidates = self._language.candidates(state.table)

[State(score=1.0, program=[Header(1), Delete(4, EmptyCondition), Fill(0), Fold(2, 3)], table=   August Total Country       Type Profit variable value
 0     520  1380      BE     Banana    YES     June   170
 1     320  1570      DE     Banana     NO     June   610
 2     630  1530      DE     Banana    YES     June   250
 3     140  1020      BE  Chocolate    YES     June   560
 4     300  1080      FR  Chocolate    YES     June   430
 5     270   760      NL  Chocolate     NO     June   210
 6     290   860      BE  Speculaas     NO     June   300
 7     670  1470      BE    Vanilla    YES     June   610
 8     520  1380      BE     Banana    YES     July   690
 9     320  1570      DE     Banana     NO     July   640
 10    630  1530      DE     Banana    YES     July   650
 11    140  1020      BE  Chocolate    YES     July   320
 12    300  1080      FR  Chocolate    YES     July   350
 13    270   760      NL  Chocolate     NO     July   280
 14    290   860      BE  Speculaas     NO     July   270
 15    670  1470      BE    Vanilla    YES     July   190)]